.form {
  margin: 0 auto;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  input[type='text'],
  input[type='date'],
  select {
    @extend %input;
  }
  label {
    @extend %label;
  }
  input[type='file'] {
    @extend %input;
    padding: 0;
    padding-top: 4px;
    border: 0;
  }
  input[type='radio'],
  input[type='checkbox'] {
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 8px;
  }
  &__payment {
    display: flex;
    gap: 24px;
    label {
      cursor: pointer;
    }
  }
}
