.search {
  @extend %shopping-text;
  display: block;
  margin: 0 auto;
  padding: 16px 40px 16px 16px;
  height: 40px;
  max-width: 800px;
  width: 100%;
  min-width: 240px;
  background-color: $white;
  background-image: url('../../../../src/assets/icons/search.svg');
  background-repeat: no-repeat;
  background-position: top 10px right 16px;
  border: 1px solid $mercury;
  border-radius: 4px;
  color: $shopping-black;
  outline: 0;
  @include breakpoint(767px) {
    width: 100%;
    min-width: auto;
  }
  &::placeholder {
    font-family: $font-family-400;
    font-size: 14px;
    line-height: 22px;
    color: $shopping-black;
    @include breakpoint(767px) {
      font-size: 13px;
      line-height: 18px;
    }
  }
  &:focus {
    border-color: $silver;
  }
}
