// fonts
$font-family-400: AvenirNextLTPro, sans-serif;
$font-family-700: AvenirNextLTProBold, sans-serif;

// colors
$shopping-black: #323232;
$shopping-blue: #0095ff;
$silver: #7b7a7a;
$white: #fff;

$shopping-darkblack: #000;
$shopping-darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;
