.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation-name: ModalBackground;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  &__inner {
    background-color: $white;
    height: 400px;
    width: 900px;
    border-radius: 4px;
    display: flex;
    position: relative;
    cursor: default;
    .btn--close {
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
    }
  }
  &__photo {
    display: block;
    width: 60%;
    aspect-ratio: auto 4 / 3;
    object-fit: cover;
    object-position: center;
    border-radius: 4px 0 0 4px;
  }
  &__content {
    padding: 8px 16px;
    &__info {
      @extend %shopping-text;
      color: $shopping-black;
    }
  }
  &__header {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    &__user {
      h3 {
        @extend %shopping-subtitle;
        color: $shopping-black;
        font-size: 16px;
      }
      p {
        @extend %shopping-text;
        color: $silver;
      }
    }
    &__avatar {
      height: 64px;
      width: 64px;
      border-radius: 50%;
      border: 1px solid $mercury;
    }
  }
}

@keyframes ModalBackground {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
